<nav [ngClass]="['navbar navbar-expand-lg px-lg-5',
 scroll!==0 ? 'navbar-light bg-light' : 'navbar-dark']"
     id="mini-navbar">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav flex-row mr-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link px-2 font-weight-bold" href="#">EN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="#">
          <img src="../../../assets/svg/Header-Sitemap-btn.svg" alt="Header-Sitemap-btn">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="#">
          <img src="../../../assets/svg/Header-Grayscale-Colors-btn.svg" alt="Header-Grayscale-Colors-btn">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="#">
          <img src="../../../assets/svg/Header-Contact-Us-btn.svg" alt="Header-Contact-Us-btn">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="#">
          <img src="../../../assets/svg/Header-Search-btn.svg" alt="Header-Search-btn">
        </a>
      </li>
    </ul>
  </div>
</nav>
<nav [ngClass]="['navbar navbar-expand-lg px-lg-5 flex-row-reverse navbar-dark',
 scroll!==0 ? 'bg-dark' : '']"
     id="main-navbar">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/Naseej_Logo.png" alt="Naseej Logo">
  </a>
  <span class="navbar-toggler-icon d-lg-none" (click)="collapse=!collapse"></span>
  <div [ngClass]="['collapse navbar-collapse d-lg-block', collapse?'d-none':'d-block']">
    <ul class="navbar-nav mr-auto py-3">
      <li class="nav-item" *ngFor="let link of links">
        <a class="nav-link" href="#">{{link}}</a>
      </li>
    </ul>
  </div>
</nav>
